Sowmya_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Appointment Calendar",
        "formDescription": "To send an automated mail to make appointment",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -432,
        -128
      ],
      "id": "025c7bcd-2a11-4864-a006-8427b541d354",
      "name": "On form submission",
      "webhookId": "16d9d18a-609b-4ddd-9530-086ec7fce11f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8798a1c5-0adc-4604-b8aa-712cbda52096",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "2025-08-17T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -128
      ],
      "id": "3d27098f-a444-4b52-8eb9-cd14a1cb3e15",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "id": "0773d820-9801-4dc8-9dce-5e05af7aa029",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "uroojkhan19786@gmail.com",
        "subject": "=Appointment  confirmed {{ $today }}",
        "message": "Appointment Confirmed",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        -176
      ],
      "id": "63a21260-fc6a-42b7-820b-53146f501941",
      "name": "Send a message",
      "webhookId": "04cb30be-397b-4096-aa4a-1acf3ae0c891",
      "credentials": {
        "gmailOAuth2": {
          "id": "R9RY9A5w1IV8kuxk",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d87347e-97f5-4f1b-968e-39a7cb3f6a6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a4e08143109edd115bcdb5115477e9eeeda636a64f44eb8a356e3aaec5a4577"
  },
  "id": "Zqi2uNrNfHR9NHfw",
  "tags": []
}